* {
  margin: 0;
  padding: 0;
}

.checkbox-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.checkmark {
  display: block;
  width: 80px;
  height: 80px;
  background-color: #ddd;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  transition: background-color 0.4s;
}

#check:checked ~ .checkmark {
  background-color: #08bb68;
}

.checkmark::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 45px;
  border-right: 5px solid #fff;
  border-bottom: 5px solid #fff;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%) rotateZ(40deg) scale(10);
  opacity: 0;
  transition: all 0.4s;
}

#check:checked ~ .checkmark::after {
  opacity: 1;
  transform: translate(-50%, -50%) rotateZ(40deg) scale(1);
}
